<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>772527918907-2tug8pge7ps3jrrvmrk9t2fll2it4321.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.772527918907-2tug8pge7ps3jrrvmrk9t2fll2it4321</string>
	<key>API_KEY</key>
	<string>AIzaSyDvi7yq__YUmIqU_N5SfjHKMsLb51RsppI</string>
	<key>GCM_SENDER_ID</key>
	<string>772527918907</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kevin.flash-chat</string>
	<key>PROJECT_ID</key>
	<string>my-new-flash-chat</string>
	<key>STORAGE_BUCKET</key>
	<string>my-new-flash-chat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:772527918907:ios:e8130ad3d09d474e</string>
	<key>DATABASE_URL</key>
	<string>https://my-new-flash-chat.firebaseio.com</string>
</dict>
</plist>